html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

h1 {
    margin-bottom: 2em;
    text-align: center;
}

p {
    text-align: center;
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(95, 0, 0);
}
.clicker {
    background: none;
    border: none;
    margin-bottom: 1em;
}

.container {
    display: flex;
    justify-content: center;
}

.clicker__function:active { 
    transition: .05s ease-in-out;
    transform: scale(107.5%);
} 

.clicker__function {
    cursor: pointer;
}

.menu {
    display: block;
    max-width: 200px;
    position: absolute;
    left: 2%;
    top: 1%;
}

.container__clicker {
    display: flex;
    flex-direction: column;
    justify-content: center;
}